extends layout

block content
    .login
        h1 PinsterPlanner
        form(action='/login', method='post')
            input(type='text', name='username', placeholder='Username', required='required', id='username')
            input(type='password', name='password', placeholder='Password', required='required', id='username')
            button.btn.btn-primary.btn-block.btn-large(type='submit') Let me in.
